@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");
@import url("https://fonts.googleapis.com/css?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap");
#showcase {
    color: white;
    height: 100vh;
    background-image: url(../img/nicePool.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menu {
    background: rgba(0, 3, 39, 0.39);
    box-shadow: 0px 15px 10px -15px #111;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.hom-txt {
    margin-top: 200px;
}

#feature {
    margin-top: 20px 0;
}

#introHeader {
    font-size: 40px;
}

#introParagraph {
    font-size: 20px;
}

#firstSectionHeader {
    margin-top: 15px;
    border-bottom-style: "solid";
    border-width: 2px;
    font-family: 'Manjari', sans-serif;
    font-size: 55px;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    color: #0069cc;
    margin-top: 55px;
}

#gallary {
    margin-top: 50px;
}

#flagIcon {
    width: 45px;
}

li {
    font-family: 'Manjari', sans-serif;
}

.imgs {
    height: 200px;
    width: 325px;
}

.quote {
    margin-top: 150px;
    height: 250px;
    font-family: 'Manjari', sans-serif;
}

.quoteBackground {
    background-color: gray;
    color: white;
    font-family: 'Saira Stencil One', cursive;
    padding: 55px;
}

h2 {
    font-size: 25px;
    background-color: lightgray;
    opacity: 70%;
    font-family: 'Manjari', sans-serif;
}

#mapImg {
    width: 1127px;
    margin-top: 200px;
}

.contactPartOne {
    float: right;
    margin-top: 50px;
    font-size: 18px;
}

#contactUs {
    margin-bottom: 10px;
    margin-left: 630px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: 'Lexend Giga', sans-serif;
    font-size: 40px;
}

.contactUs {
    margin-top: 75px;
}

.buisnessHours {
    margin-top: 75px;
}

#contactBuisness {
    margin-top: 150px;
    border-top-style: solid;
}

li {
    margin-left: 15px;
}

#phoneNumber {
    margin-left: 720px;
    font-size: 18px
}

#hours {
    margin-left: 15px;
    border-bottom: 2px;
    border-bottom-style: solid;
    font-family: 'Manjari', sans-serif;
    display: inline;
    font-size: 45px
}

.hours {
    font-family: 'Manjari', sans-serif;
    font-weight: 750;
    font-size: 18px
}

.hourList {
    margin-top: 22px
}