#showcase {
    color: white;
    height: 100vh;
    background-image: url(../img/nicePool.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menu {
    background: rgba(0, 3, 39, 0.39);
    box-shadow: 0px 15px 10px -15px #111;
}

.hom-txt {
    margin-top: 200px;
}

#feature {
    margin-top: 20px 0;
}

#introHeader {
    font-size: 40px;
}

#introParagraph {
    font-size: 20px;
}

#firstSectionHeader {
    margin-top: 15px;
}

.imgs {
    height: 200px;
    width: 325px;
}

.quote {
    margin-top: 150px;
    height: 250px;
    font-family: 'Manjari', sans-serif;
}

.quoteBackground {
    background-color: gray;
    color: white;
    font-family: 'Manjari', sans-serif;
}

h2 {
    font-size: 25px;
    background-color: lightgray;
    font-family: 'Manjari', sans-serif;
}

#mapImg {
    width: 1127px;
}

.contactPartOne {
    float: right;
    margin-top: 85px;
    font-size: 18px;
}

.buisnessHours {
    margin-top: 75px;
}

li {
    margin-left: 15px;
}

#hours {
    margin-left: 15px;
}